<h1><%= t(:editing_model ,model: t(:trading, scope: 'activerecord.models')) %></h1>

<%= render "form", trading: @trading %>

<br>

<div>
<!--  <%#= link_to "Show this trading", @trading %> |-->
  <%= link_to t(:back), tradings_path %>
</div>
