body {
  margin: 0;
  padding: 0;
}

.alert {
  color: blue;
}

.error {
  color: red;
}

.success {
  color: green
}

.flash-messages {
  background-color: #eae9e9;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);


}

.flash-messages > p {margin: 0;}

.actions {
  margin: 10px 0;
  text-align: center;
}

.actions > input {
  padding: 1rem 5rem;
  margin: auto;
  width: auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  border: 0;
  background-color: rgba(0,212,255,1);
  box-shadow: 1px 1px 5px rgba(52,9,121,1);
}

.field {
  margin: 1rem 0;
}

.field > input[type=text], .field > input[type=email], .field > input[type=password] {
  display: block;
  margin: 0;
  padding: 0.5rem;
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  font-weight: inherit;
  line-height: 1rem;
  border: 1px solid rgba(1, 1, 1, .5);
  border-radius: 0.4rem;
  transition: box-shadow 300ms;
}

.field > input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}